*{
  box-sizing: border-box;
}
body{
  margin:0px

}

.testo{
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  text-align: center;
}

.testo1{
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  text-align: center;
}
  
.button-verify{
  width:275px;
height: 80px;

opacity: 0px;
background-color: #2DC653;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
border:none
}

.testo-button{

  font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 56.25px;
text-align: center;
color:white

}
